@import url('~simplebar/dist/simplebar.css');

*, *:before, *:after { box-sizing: border-box; }
body, html {
  font-family: sans-serif;
}
div.markdown-body {
  font-size: 18px;
}

.container { 
  max-width: 500px; 
  margin: 100px auto;
  h1 {
    color: #005cc5;
  }
  code {
    border: 1px solid #ddd;
    background: #eee;
  }
}

div.fesk-header {
  width: 380px;
}
@media only screen and (min-width: 1024px) {
  aside.fesk-layout__menu {
    min-width: 320px;
  }
}

div.fesk-markdown h1:before {
  background: #005cc5;
}

.hyperion-logo {
  margin: 5px;
  width: 100%;
}

div.fesk-header {
  background: #fff;
}

nav.fesk-menu {
  background: #fff;
  color: #000;
  width: 320px
}

ul.fesk-menu__top {
  color: #333;
}

li.fesk-menu__child-item a {
  color: #2b3a42;
}
li.fesk-menu__child-item--active a {
  border-radius: 3px;
  background: #242E7A;
  color: #FFF603;
}
main.fesk-layout__content {
  padding-top: 80px;
  max-width: 1100px;
}

div.markdown-body {

  .token.string {
    color: #88AC6D;
  }
  .token.function {
    color: #5798CF;
  }
  .token.atrule, .token.attr-name, .token.keyword {
    color: #B36FC7;
  }
  .token.number {
    color: #C69261;
  }
  .token.tag {
    color: #DC6A73;
  }
}
