/* System Fonts as used by Medium and WordPress */
body, html, #app {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}
*, *:after, *:before {
  box-sizing: border-box;
}
